<footer fxFlex= "grow">
     <div class="soc">
        <a target="_blank" href="https://www.linkedin.com/in/subham-saha/">
            <span class="iconify" data-icon="ant-design:linkedin-filled" data-inline="false" data-width="28px" data-height="30px"></span>
        </a>
        <a target="_blank" href="https://github.com/subhamsaha-manu">
            <span class="iconify" data-icon="ant-design:github-filled" data-inline="false" data-width="28px" data-height="30px"></span>
        </a>
        <a target="_blank" href="https://www.instagram.com/_subham_saha_/">
            <span class="iconify" data-icon="ant-design:instagram-filled" data-inline="false" data-width="28px" data-height="30px"></span>
        </a>
    </div>
    <div class="copy">© 2020 Developed by Subham Saha. All rights reserved.</div>
    <div class="clr"></div>
</footer>