<mat-toolbar>
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/dashboard"><span class="iconify" data-icon="entypo:user" data-inline="false" data-width="35px" data-height="35px"></span></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/resume">Resume</a>
            </li>
            <li>
                <a routerLink="/portfolio">Portfolio</a>
            </li>
            <li>
                <a routerLink="/contact" class="btn">Contact</a>
            </li>
        </ul>
    </div>
</mat-toolbar>