<mat-toolbar>
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">App Link</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/link1">Link 1</a>
            </li>
            <li>
                <a routerLink="/link2">Link 2</a>
            </li>
        </ul>
    </div>
</mat-toolbar>