.image-card{
    margin-top: 20px;
}

.image{
    max-width: 500px !important;
    min-width: 500px !important;
    margin-left: 20px !important;
}

@media screen and (max-width: 600px) {
    .image{
        margin-right: 20px !important;
    }
}