.mainResumeContainer{
    /*background-color: beige;*/
    overflow: auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.mainResumeContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.mainResumeContainer {
    -ms-overflow-style: none;
}

.resumeLeftContainer{
    background-color: hotpink;
    
}

.resumeRightContainer{
   /*background-color: aqua;*/
}

mat-card{
    padding: 2px !important;
}

.userIcon{
    margin-top:5px;
}
.profilePic{
    background-color: blueviolet;
    background-image: url("../../assets/ProfilePic.JPG");
}

.leftSideCardContent{
    background-color: #5da4d9;
    color: white!important;
}

.text{
    margin-right: 20px;
}

.mat-slider-thumb{
    background-color: white !important;
}

mat-divider{
    background-color: black !important;
}
.leftSideDivider{
    width:70% !important;
    left: 60px !important;
    background-color: white !important;
}

.matLineLeftSide{
    color: white !important;
}

.resumeLeftContainer p{
    margin-top: 10px;
    margin-bottom: 20px;
}


mat-slider{
    padding: 0px !important;
    min-width: 300px !important;
}

.slider{
    margin-top: -10px !important;
    margin-left: -10px !important;
}

mat-list-item{
    height: 50px !important;
}



.rightSideCardContent{
    color: #767270;
}

.iconRightSide{
    margin-top: 20px !important;
}

.textRightSide{
    margin-top: 20px;
}

.matLineRightSide{
    color: black !important;
    margin-top: 20px !important;
    margin-bottom: 20px;
}

h3{
    color:#767270;
}

.date{
    color: #83a5da !important;
}

.resumeRightContainer h3{
    margin-bottom: 0px;
}

.rightSideDivider{
    width: 70% !important;
    left: 110px !important;
}

@media screen and (max-width: 600px) {
    .profilePic {
      background-color: lightcoral;
      min-height: 20%;
    }
.resumeLeftContainer{
    height: 354vw;
    }
.iconRightSide{
    margin-left: 40%;
    }

.resumeRightContainer h1{
    margin-left: 35%;
    }
.rightSideDivider{
    left:80px !important;
    }
.userIcon{
    margin-left: 40%;
    margin-top: 10px;
    }
.careerObjective{
    margin-left: 20px;
    }
}