<div fxFlexFill fxLayoutAlign="center center" *ngIf="!user">
    <mat-spinner></mat-spinner>
</div>
<div class="mainResumeContainer"
        fxLayout="row" 
        fxLayout.xs="column"
        fxLayoutGap="20px"
        *ngIf="user">
    <div @containerAppearanceTrigger fxFlex="30" 
        fxLayout="column"
        class="resumeLeftContainer"
        fxFlexOffset = "5">
        <mat-card fxFlex="100" fxLayout="column">
            <mat-card-header
                fxLayout="column"
                fxLayoutAlign="end end" 
                fxFlex = "20"
                class="profilePic">
                <mat-card-title class="userNameResume">{{user.firstName}}{{user.middleName}}{{user.lastName}}</mat-card-title>
                <mat-card-subtitle class="subtitle">Full Stack developer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content 
                fxLayout="column"
                fxLayoutGap="5px"
                class="leftSideCardContent"
                fxFlex>
                <!--Start of Career Objective-->
                <div class = "item"
                     fxLayout="row"
                     fxLayoutGap="15px"
                     fxLayout.xs="column"
                     fxLayoutGap.xs="5px">
                   <div class="userIcon">
                    <span 
                        class="iconify" 
                        data-icon="bx:bxs-user" 
                        data-inline="false" 
                        data-width="30px" 
                        data-height="30px"
                        style="margin-left: 15px;"></span>
                   </div>  
                   <div class="text careerObjective">
                    <p>{{user.careerObjective}}</p>
                    <mat-divider class="leftSideDivider"></mat-divider>
                   </div>
                </div>
                <!--End of Career Objective-->
                <!--Start of Mobile-->
                <div class = "item"
                     fxLayout="row"
                     fxLayoutGap="15px"
                     fxFlexOffset="3">

                   <div class="icon">
                    <span 
                        class="iconify" 
                        data-icon="bx:bx-phone-call" 
                        data-inline="false" 
                        data-width="30px" 
                        data-height="30px"
                        style="margin-left: 15px;"></span>
                   </div>  
                   <div class="text">
                    <p>{{user.mobileNumber}}</p>
                    <mat-divider class="leftSideDivider"></mat-divider>
                   </div>
                </div>
                <!--End of Mobile-->
                <!--Start of Mail-->
                <div class = "item"
                     fxLayout="row"
                     fxLayoutGap="15px"
                     fxFlexOffset="3">

                   <div class="icon">
                    <span 
                        class="iconify" 
                        data-icon="clarity:email-line"
                        data-inline="false" 
                        data-width="30px" 
                        data-height="30px"
                        style="margin-left: 15px;"></span>
                   </div>  
                   <div class="text">
                    <p>{{user.emailAddresses[0].value}}</p>
                    <mat-divider class="leftSideDivider"></mat-divider>
                   </div>
                </div>
                <!--End of Mail-->
                <!--Start of LinkedId-->
                <div class = "item"
                     fxLayout="row"
                     fxLayoutGap="15px"
                     fxFlexOffset="3">
                   <div class="icon">
                    <span 
                        class="iconify" 
                        data-icon="ant-design:linkedin-filled"
                        data-inline="false" 
                        data-width="30px" 
                        data-height="30px"
                        style="margin-left: 15px;"></span>
                   </div>  
                   <div class="text">
                    <p>{{user.linkedInId}}</p>
                    <mat-divider class="leftSideDivider"></mat-divider>
                   </div>
                </div>
                <!--End of LinkedId-->
                <!--Start of Skills-->
                <div class = "item"
                     fxLayout="row"
                     fxLayoutGap="15px"
                     fxFlexOffset="3">
                   <div class="icon">
                    <span 
                        class="iconify" 
                        data-icon="carbon:skill-level"
                        data-inline="false" 
                        data-width="30px" 
                        data-height="30px"
                        style="margin-left: 15px;"></span>
                   </div>  
                   <div class="text">
                    <h2>Working Knowledge</h2>
                    <mat-list>
                        <div  *ngFor="let skill of user.skills">
                         <mat-list-item  *ngIf="skill.workingExperience">
                               <div mat-line class="matLineLeftSide">{{skill.skill}}</div>
                               <div mat-line class="slider"><mat-slider disabled  value={{skill.skillLevel}}></mat-slider></div>
                         </mat-list-item>
                        </div>    
                    </mat-list>
                    <h2>Proficient</h2>
                    <mat-list>
                        <div  *ngFor="let skill of user.skills">
                         <mat-list-item  *ngIf="!skill.workingExperience">
                               <div mat-line class="matLineLeftSide">{{skill.skill}}</div>
                               <div mat-line class="slider"><mat-slider disabled  value={{skill.skillLevel}}></mat-slider></div>
                         </mat-list-item>
                        </div>    
                    </mat-list>
                   </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div @containerAppearanceTrigger
         fxFlex = "60" class="resumeRightContainer"
        fxLayout="column"
        fxLayoutAlign="none"
        fxLayoutGap="20px">
        <mat-card>
            <mat-card-content
            fxLayout="row"
            fxLayoutGap="30px"
            fxFlexOffset="20px"
            fxLayout.xs="column"
            fxLayoutGap.xs="5px"
            class="rightSideCardContent">
            <div class="iconRightSide">
                <span 
                    class="iconify" 
                    data-icon="ic:outline-work" 
                    data-inline="false" 
                    data-width="40px" 
                    data-height="40px"
                    style="margin-left: 15px;"></span>
               </div>  
               <div class="textRightSide">
                <h1>Experience</h1>
                <div *ngFor="let workExperience of user.workExperience  ; let lastItem = last;">
                    <mat-list-item>
                          <div mat-line class="matLineRightSide">
                              <h3>{{workExperience.designation}}@{{workExperience.officeName}}</h3>
                            </div>
                          <span mat-line class="matLineRightSide date">{{workExperience.joiningDate}}-{{workExperience.endingDate}}</span>
                          <div *ngFor="let experience of workExperience.workExperience">
                            <div mat-line class="matLineRightSide">{{experience}}</div>
                          </div>
                    </mat-list-item>
                    <mat-divider *ngIf="!lastItem" class="rightSideDivider"></mat-divider>
                </div>  
               </div>
            </mat-card-content>
        </mat-card>
        <!--End of Work Experience section-->
        <!--Start of Education Section-->
        <mat-card class="hiddenCard">
        <mat-card-content
        fxLayout="row"
        fxLayoutGap="30px"
        class="rightSideCardContent"
        fxFlexOffset="20px"
        fxLayout.xs="column"
        fxLayoutGap.xs="10px">
        <div class="iconRightSide">
            <span 
                class="iconify" 
                data-icon="zondicons:education"
                data-inline="false" 
                data-width="40px" 
                data-height="40px"
                style="margin-left: 15px;"></span>
           </div>  
           <div class="textRightSide">
            <h1>Education</h1>
            <div *ngFor="let educationQualification of user.educationQualification ; let lastItem = last;">
                <mat-list-item>
                      <div mat-line class="matLineRightSide">
                          <h3>{{educationQualification.degree}}@{{educationQualification.instituitionName}}</h3>
                        </div>
                        <span mat-line class="matLineRightSide date">
                            {{educationQualification.startingDate}}-{{educationQualification.endingDate}}
                        </span>
                      <div *ngFor="let academicAchievements of educationQualification.academicAchievements">
                        <div mat-line class="matLineRightSide">{{academicAchievements}}</div>
                      </div>
                </mat-list-item>
                <mat-divider *ngIf="!lastItem" class="rightSideDivider"></mat-divider>
            </div>  
           </div>
        </mat-card-content>
        </mat-card>
        <!--End of Education Section-->
        <!--Start of Interest Section-->
        <mat-card class="hiddenCard">
            <mat-card-content
            fxLayout="row"
            fxLayoutGap="30px"
            class="rightSideCardContent"
            fxFlexOffset="20px"
            fxLayout.xs="column"
            fxLayoutGap.xs="10px">
        <div class="iconRightSide">
            <span 
                class="iconify" 
                data-icon="eva:activity-fill"
                data-inline="false" 
                data-width="40px" 
                data-height="40px"
                style="margin-left: 15px;"></span>
           </div>  
           <div class="textRightSide">
            <h1>Interest</h1>
            <div  *ngFor="let interest of user.areasOfInterest; let lastItem = last;">
                <mat-list-item>
                      <div mat-line class="matLineRightSide">{{interest.value}}</div>
                </mat-list-item>
                <mat-divider  *ngIf="!lastItem" class="rightSideDivider"></mat-divider>
            </div>  
           </div>
        </mat-card-content>
        </mat-card>
        <!--End of Interest Section-->
    </div>
</div>