.mainResumeContainer{
    background-color: beige;
    overflow: auto;
}

.resumeLeftContainer{
    background-color: hotpink;
    
}

.resumeRightContainer{
    background-color: aqua;
}


mat-card{
    padding: 2px !important;
}

mat-card-header{
    background-color: blueviolet;
    min-height: 40% !important;
}

mat-card-content{
    color: white !important;
}


.text{
    margin-right: 20px;
}

.mat-slider-thumb{
    background-color: white !important;
}

mat-divider{
    background-color: black !important;
    width: 76% !important;
    margin-left: 50px !important;
}

.mat-line{
    color: white !important;
}

mat-slider{
    padding: 0px !important;
    min-width: 180px !important;
}

.slider{
    margin-top: -10px !important;
    margin-left: -10px !important;
}

mat-list-item{
    height: 50px !important;
}