
.dashboardContainer {
    /*background: blue;*/
    /* height: 200px; */
  }

.userName{
  font-family: 'Crimson Text', serif !important;
  font-style: italic !important;
  font-size: 70px !important;
  color: black;
  
}
  .typingAnimationSpan{
    font-size: 25px;
    letter-spacing: 0.442em;
  }


  @media screen and (max-width: 600px) {
    .userName{
      font-size: 40px !important;
      
    }
      .typingAnimationSpan{
        font-size: 15px;
        letter-spacing: 0.096em;
        /*margin-left: 5%;*/
      } 
      .dashboardContainer {
       margin-top: 50%;
      }
  }